<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Logo</a>
    <ul id="nav-mobile" class="nav navbar-nav">
      <li><%= link_to "Category", admins_categories_path %></li>
      <li><%= link_to "Type", admins_types_path %></li>
      <li><%= link_to "Admin", "#" %></li>
      <li><%= link_to "Product", "#" %></li>
      <li><%= link_to "Company", "#" %></li>
      <li><%= link_to "Tag", "#" %></li>
    </ul>
  </div>
</nav>
